<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-for遍历数组</title>
</head>
<body>

<div id="app">
  <!-- 1.在遍历的过程中，没有使用索引值(下标值) -->
  <ul>
    <li v-for="item in names">{{item}}</li>
  </ul>

  <!-- 2.在遍历的过程中，使用索引值(下标值) -->
  <ul>
    <li v-for="(item, index) in names">
      {{index+1}}-{{item}}
    </li>
  </ul>

</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      names: ['a', 'b', 'c', 'd']
    }
  });
</script>

</body>
</html>